<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SaoMailIP" value="192.168.202.98" />
    <!--<add key="SaoMailIP" value="192.57.7.8"/>-->
    <add key="MailPort" value="25" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="http://www.compcare.co.za/Errors/ErrorPage.aspx" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="ExistingMembers/Default.aspx" name=".loginCookie" protection="All" cookieless="UseDeviceProfile" timeout="40" defaultUrl="ExistingMembers/UsersHomePage.aspx" />
    </authentication>
  </system.web>
  <location path="ExistingMembers/ClaimsHistory.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ExistingMembers/YourDependants.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ExistingMembers/YourLimits.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ExistingMembers/UsersHomePage.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ExistingMembers/ChangeOfAddress.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ExistingMembers/ChangePassword.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ExistingMembers/DoctorSearch.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ExistingMembers/Statements.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="UniversalEntities" connectionString="metadata=res://*/DataModel.UNiversalModel.csdl|res://*/DataModel.UNiversalModel.ssdl|res://*/DataModel.UNiversalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Universal;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="401" path="http://www.compcare.co.za/Default.aspx" responseMode="Redirect" />
      <error statusCode="403" path="http://www.compcare.co.za/Errors/NotAuthorised.aspx" responseMode="Redirect" />
      <error statusCode="404" path="http://www.compcare.co.za/Errors/NotFound.aspx" responseMode="Redirect" />
      <error statusCode="500" path="http://www.compcare.co.za/Errors/ErrorPage.aspx" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
</configuration>